<a href="https://colab.research.google.com/github/sonmin05/Python-class/blob/main/Python_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
>>> x = int(input('number : '))
number : 123
>>> x
123

number : 123

123

In [4]:
>>> x = float(input('number : '))
number : 1.23
>>> x
1.23

number : 1.23

1.23

In [6]:
i = 0
result = 0
while i < 5:
    a = input("성적 입력 : ")
    result += int(a)
    i += 1


print(f'평균 : {result / 5}')

성적 입력 : 20
성적 입력 : 20
성적 입력 : 20
성적 입력 : 30
성적 입력 : 40
평균 : 26.0

In [8]:
# 3번
test_list = ['one', 'two', 'three']
for i in test_list:
  print(i)

one
two
three

In [9]:
# 3-2번
for i in range(1, 10):
  print(i)

1
2
3
4
5
6
7
8
9

In [10]:
# 3-3번
result = 0
for a in range(1, 101):  #1 ~ 100

  result = result + a
  print(f"{a} {result}")

print(result)

1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45
10 55
11 66
12 78
13 91
14 105
15 120
16 136
17 153
18 171
19 190
20 210
21 231
22 253
23 276
24 300
25 325
26 351
27 378
28 406
29 435
30 465
31 496
32 528
33 561
34 595
35 630
36 666
37 703
38 741
39 780
40 820
41 861
42 903
43 946
44 990
45 1035
46 1081
47 1128
48 1176
49 1225
50 1275
51 1326
52 1378
53 1431
54 1485
55 1540
56 1596
57 1653
58 1711
59 1770
60 1830
61 1891
62 1953
63 2016
64 2080
65 2145
66 2211
67 2278
68 2346
69 2415
70 2485
71 2556
72 2628
73 2701
74 2775
75 2850
76 2926
77 3003
78 3081
79 3160
80 3240
81 3321
82 3403
83 3486
84 3570
85 3655
86 3741
87 3828
88 3916
89 4005
90 4095
91 4186
92 4278
93 4371
94 4465
95 4560
96 4656
97 4753
98 4851
99 4950
100 5050
5050

In [11]:
index = 0
s = "BlockDMask"
for a in s:
    if a == 'k':
        break    # 'k'를 찾았으니 for문에서 나와랏!

    index = index + 1


print(index)    # 'k'가 첫번째로 존재하는 위치 출력

4

In [12]:
result = 0
for a in range(1,101):  # 1 ~ 100
    result = result + a    # a를 더해주고

    if result > 100:    # result가 100이 넘었을때
        print(a)        # 그때의 a값을 출력
        break

print(result)

14
105

In [13]:
student = [180, 170, 164, 199, 182, 172, 177]
for a in student:
    if a > 170:
        continue  # 키가 170보다 크면 continue

    print(a)

170
164

In [14]:
result = 0
for a in range(1,101):  #1 ~ 100
    if a % 2 == 1:      #2로 나누었을때 나머지가 1
        result = result + a

print(result)

2500

In [16]:

l = ['Alice' , 'Bob' , 'Charlie']

for name in l:
    if name == 'Bob':
        print('!!BREAK!!')
        break
    print(name)
else:
    print('!!FINISH!!')

Alice
!!BREAK!!

In [18]:

l = ['Alice', 'Bob', 'Charlie']

for name in l:
    print(name)

for i, name in enumerate(l):
    print(i, name)

Alice
Bob
Charlie
0 Alice
1 Bob
2 Charlie

In [19]:

for i, name in enumerate(l, 1):
    print(i, name)

for i, name in enumerate(l, 42):
    print(i, name)

1 Alice
2 Bob
3 Charlie
42 Alice
43 Bob
44 Charlie

In [20]:

sr = ['father', 'mother', 'brother']
cnt = 0
for s in sr:
        for c in s:
            if c == 'r':
                cnt += 1
print(cnt)

4

In [21]:

a = []

for i in range(10):
    a.append(0)

print(a)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [22]:

a = []

for i in range(3):
    line = []
    for j in range(2):
        line.append(0)
    a.append(line)

print(a)

[[0, 0], [0, 0], [0, 0]]