<a href="https://colab.research.google.com/github/sonmin05/Python-class/blob/main/Python_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def 함수명() :
   수행문장
   ...

def func1():
    print('BlockDMask')

# 함수 호출
func1()
func1()
func1()

BlockDMask
BlockDMask
BlockDMask

In [14]:
def func2(a, b):
    print(f'{a} 곱하기 {b} = {a * b}')

# 함수 호출
func2(1, 2)
func2(1, 1)
func2(3, 4)

1 곱하기 2 = 2
1 곱하기 1 = 1
3 곱하기 4 = 12

In [3]:
def 함수이름():
    수행문장
    return 반환값

def func3():
    return "abcdefg"

# 함수 호출

a = func3()
print(a + "GG")

abcdefgGG

In [4]:
def 함수이름(매개변수1, 매개변수2 ...):
    수행문장
    return 반환값

def func4(a, b):
    return a * b

# 함수 호출
c = func4(3, 9)
print(c)

SyntaxError: invalid syntax (<ipython-input-4-ab0af16467c6>, line 1)

In [5]:
# 구구단 no 함수 버전

# 구구단 출력
for i in range(1, 10):
    print(f'{2} x {i} = {2 * i}')
for i in range(1, 10):
    print(f'{3} x {i} = {3 * i}')

# ...
for i in range(1, 10):
    print(f'{9} x {i} = {9 * i}')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [6]:
# 구구단 함수 버전
def gugudan(num):
    for i in range(1, 10):
        print(f'{num} x {i} = {num * i}')

# 구구단 출력
gugudan(2)
gugudan(3)
# ...
gugudan(9)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [7]:
# 디폴트 파라미터 예제 1
def func1(a, b=5, c=10):
    return a + b + c

func1(1, 2, 3)  # 1 + 2 + 3
func1(1, 2)  # 1 + 2 + 10
func1(1)  # 1 + 5 + 10
# func1() error

# 디폴트 파라미터 예제 2
def func2(a=10, b=20):
    return a + b

func2(1, 2)  # 1 + 2
func2(1)  # 1 + 20
func2()  # 10 + 20

30

In [8]:


# 아래는 잘못된 디폴트 파라미터
# 디폴트 파라미터는 뒤에서 부터 해야한다.
# 그래야 인수가 비었을때 판단이 가능.
def func3(a = 10, b, c): # error
    return a + b + c

func3(1, 2)    # 1이 a이고 2가 b에 들어가는거겠지?
               # 뭘 원하는거야? error
func3( , 1, 2) # 뭐 이렇게 호출해야하나? error

SyntaxError: non-default argument follows default argument (<ipython-input-8-a0de2aca7568>, line 4)

In [9]:


def 함수이름 (*매개변수):
    수행문장
    return 반환값

def func6(*args):
    a = 0
    for i in args:
        a = a + i
    return a


b = func6(1, 2)
print(b)

c = func6(2, 3, 4, 5)
print(c)

d = func6(1, 2, 3, 4, 5, 4, 3, 2, 1)
print(d)

e = func6()
print(e)

3
14
25
0

In [16]:

def test(*val):
    for i in val:
        print(i)

test(1, 'a', 'b', 'c')

1
a
b
c

In [15]:
def sum_mul(choice, *val):
    if choice == 'sum':
        result = 0
        for i in val:
          result = result + i
    elif choice == 'mul':
        result = 1
        for i in val:
          result = result * i
    print()
    return result

print(sum_mul('sum', 1,2,3,4,5 ))
print(sum_mul('mul', 1,2,3,4,5 ))

15

120

In [12]:
def comp (score=0):
    if score == 0:
        return 0
    elif score > 50:
        return 2
    else:
        return 1

grade = comp (40)
print ("Grade is ", grade, " for ", 40)

grade = comp (80)
print ("Grade is ", grade, " for ", 80)

grade = comp ()
print ("Grade is ", grade, "for no score")

Grade is  1  for  40
Grade is  2  for  80
Grade is  0 for no score

In [13]:


def report(name, age, score):
    print(name, score)

report(age=10, name="Kim", score=80)

Kim 80