<a href="https://colab.research.google.com/github/sonmin05/Python-class/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
watch=100000

In [2]:
a = 'pig'
b = "dad"

In [3]:
a,b = (10,20)
[a,b] = [10,20]
a = b = 10
a = None

In [4]:
a = 10
b = 20
a,b = b,a
print(" a = ", a , " b = " , b)

 a =  20  b =  10

In [5]:
a = [10,20,30]
b = a
a[0] = 200
print(" a = ", a , " b = " , b)

 a =  [200, 20, 30]  b =  [200, 20, 30]

In [8]:
print("Hello World")
print(1)

Hello World
1

In [6]:
a = 10
print("a="+str(a)) #정수를 문자열로 변경
print("a=",a)
print("a={}".format(a)) #format 함수 사용

a=10
a= 10
a=10